//
// Forms.scss
//




[type="tel"],
[type="url"],
[type="email"],
[type="number"] {
  &::placeholder {
    text-align: left
      /*rtl: right*/
    ;
  }
}

.form-check {
  position: relative;
  text-align: left
    /*rtl: right*/
  ;
}


// checkbox input right

.form-check-right {
  padding-left: 0;
  display: inline-block;
  padding-right: $form-check-padding-start;

  .form-check-input {
    float: right;
    margin-left: 0;
    margin-right: $form-check-padding-start * -1;
  }

  .form-check-label {
    display: block;
  }
}

.input-group input.form-control.form-control {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-right: unset !important;
}


// checkbox

.form-checkbox-outline {

  .form-check-input {
    border-width: 2px;
    background-color: var(--#{$prefix}secondary-bg);

    &:active {
      filter: none;
    }

    &:checked {
      background-color: var(--#{$prefix}secondary-bg) !important;

      &[type=checkbox] {
        background-image: none;

      }

      &:after {
        position: absolute;
        content: '\F012C';
        font-family: "Material Design Icons";
        top: -4px !important;
        left: 1px;
        /*rtl: -4px */
        font-size: 16px;
        color: var(--#{$prefix}body-color);
      }
    }
  }
}

// radio

.form-radio-outline {
  .form-check-input {
    background-color: var(--#{$prefix}secondary-bg);
    position: relative;

    &:active {
      filter: none;
    }

    &:checked {
      background-color: var(--#{$prefix}secondary-bg) !important;

      &[type=checkbox] {
        background-image: none;

      }

      &:after {
        position: absolute;
        content: '';
        top: 3px !important;
        left: 3px;
        width: 5px;
        height: 5px;
        border-radius: 50%;
      }
    }
  }
}



// checkbox color

@each $color,
$value in $theme-colors {
  .form-check-#{$color} {
    .form-check-input {
      &:checked {
        background-color: $value;
        border-color: $value;
      }
    }
  }

  .form-radio-#{$color} {
    .form-check-input {
      &:checked {
        border-color: $value;
        background-color: $value;

        &:after {
          background-color: $value;
        }
      }
    }
  }
}

.form-check,
.form-check-input,
.form-check-label {
  cursor: pointer;
  margin-bottom: 0;
}

// Switch sizes

.form-switch-md {
  padding-left: 2.5rem;
  min-height: 24px;
  line-height: 24px;

  .form-check-input {
    width: 40px;
    height: 20px;
    left: -0.5rem;
    position: relative;
  }

  .form-check-label {
    vertical-align: middle;
  }
}


.form-switch-lg {
  padding-left: 2.75rem;
  min-height: 28px;
  line-height: 28px;

  .form-check-input {
    width: 48px;
    height: 24px;
    left: -0.75rem;
    position: relative;
  }
}

.input-group-text {
  margin-bottom: 0px;
}

// transfer list

.rdl-filter,
.rdl-control {
  background-color: $input-bg;
  border-color: $input-border-color;
  color: $input-color;
}

.react-dual-listbox {
  button {
    color: $dark;
    border-color: $border-color;
    background-color: $light;
  }

  input,
  select {
    &:disabled {
      background-color: $input-disabled-bg;
    }
  }
}

.rdl-move {

  .form-check-input,
  .form-check-input:focus {
    background-image: escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='#{$gray-400}'/></svg>"));
  }
}

/* Form Elements - Enhanced for better usability */
.form-group {
  margin-bottom: $space-6;
}

.form-label {
  display: block;
  font-size: $text-base;
  font-weight: $font-medium;
  color: $color-gray-700;
  margin-bottom: $space-2;
}

.form-input,
.form-control,
.select__control {
  width: 100%;
  padding: $space-1 $space-3;
  font-family: $font-family-primary;
  font-size: $text-base;
  line-height: 1.5;
  color: $color-gray-900;
  background-color: $color-white;
  border: 2px solid $color-gray-300 !important;
  border-radius: $radius-lg !important;
  transition: all $transition-fast;

  &:focus {
    outline: none;
    border-color: $actiwell-navy !important;
    box-shadow: 0 0 0 4px rgba(58, 59, 92, 0.1), $shadow-md;
  }

  &::placeholder {
    color: $color-gray-400;
  }

  &:disabled {
    background-color: $color-gray-100;
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.input-group-text {
  padding: $space-1 $space-1;
  font-family: $font-family-primary;
  font-size: $text-base;
  line-height: 1.5;
  color: $color-gray-900;
  background-color: $color-white;
  border: 2px solid $color-gray-300;
  border-left: 0;
  border-radius: $radius-lg;
  transition: all $transition-fast;
}

.select__value-container {
  padding: 0 !important;
}

@media screen and (max-width: $bp-phone) {
  .form-label {
    font-size: $text-sm;
    margin-bottom: $space-1;
  }

  .input-group-text {
    font-size: $text-sm;
  }

  .form-input,
  .form-control,
  .select__control {
    padding: $space-1;
    font-size: $text-xs;
    border-radius: $radius-md !important;
  }
}