.permissions-wrapper {
  padding: 1rem;
}

.permissions-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $brand-navy;
  color: $brand-cream;
  padding: $space-2 $space-6;
  border-radius: 8px;
  margin-bottom: $space-3;
  cursor: pointer;

  h5 {
    margin: 0;
  }

  .chevron {
    font-size: $text-xl;
    transition: transform 0.3s ease;

    &.open {
      transform: rotate(180deg);
    }
  }
}

.permissions-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(235px, 1fr));
  gap: $space-3;
  align-items: start;
}

.permission-card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid $color-gray-200;
  border-radius: $radius-md;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  transition: box-shadow 0.2s ease-in-out;
  color: $brand-navy;

  &:hover {
    box-shadow: $box-shadow-sm;

    .card-header {
      background-color: $color-gray-100;
    }
  }

  .card-header {
    display: flex;
    align-items: center;
    gap: $space-2;
    background-color: #f8f9fa;
    padding: $space-2 $space-4;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;

    &:hover {
      background-color: $color-gray-200;
    }

    input[type="checkbox"] {
      cursor: pointer;
      accent-color: $brand-navy-light;
    }

    label {
      flex-grow: 1;
      cursor: pointer;
      margin: 0.25rem 0 !important;
    }

    .chevron {
      margin-left: auto;
      font-size: 14px;
      transition: transform 0.3s ease;
    }

    .chevron.open {
      transform: rotate(180deg);
    }
  }

  .card-body-wrapper {
    overflow: hidden;
    transition: height 0.3s ease;
  }

  .card-body {
    padding: $space-2;
    display: flex;
    flex-direction: column;
    gap: 0rem;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;

    &.open {
      opacity: 1;
      pointer-events: auto;
    }
  }

  .permission-item {
    display: flex;
    align-items: flex-start;
    gap: $space-2;
    font-size: 13px;
    border-radius: $radius-md;
    padding: $space-1 $space-2;
    cursor: pointer;

    &:hover {
      background-color: $color-gray-100;
    }

    input[type="checkbox"] {
      accent-color: $brand-navy-light;
      margin: auto 0 !important;
      cursor: pointer;
    }

    label {
      cursor: pointer;
      margin: 0.25rem 0 !important;
      color: $brand-navy;
    }
  }
}