// 
// _footer.scss
// 

.footer {
    bottom: 0;
    padding: 10px calc(#{$grid-gutter-width} * 0.75);
    position: inherit;
    right: 0;
    color: var(--#{$prefix}footer-color);
    left: 250px;
    // height: $footer-height;
    // background-color: var(--#{$prefix}footer-bg);
    padding-top: auto;

    font-size: 0.7rem;

    @media (max-width: 991.98px) {
        left: 0;
    }
}
  
// Enlarge menu
.vertical-collpsed {
    .footer {
        left: $sidebar-collapsed-width;

        @media (max-width: 991.98px) {
            left: 0;
        }
    }
}

body[data-layout="horizontal"] {
    .footer {
        left: 0 !important;
    }  
}