.dasboard-black-book-section-container {
    display: flex;
    flex-direction: column;
    gap: $space-3;
}

.table {
    .daily-total-header {
        background-color: $actiwell-red;
        border-left: 2px solid $actiwell-red-dark;
    }

    .daily-total {
        color: $actiwell-red;
        background-color: rgba($actiwell-red, 0.1);
        border-left: 2px solid $actiwell-red-dark;
    }
}