.card-container-summary {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: $space-2;

    @media screen and (max-width: 1300px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: $bp-phone) {
        grid-template-columns: repeat(1, 1fr);
    }
}