.dashboard-staff-section-container {
    display: flex;
    flex-direction: column;
    gap: $space-3;
}

.dashboard-burnt-session-container {
    display: flex;
    flex-direction: column;
    height: 100%;

    .dashboard-burnt-session-trainer-up {
        display: flex;
        flex-direction: column;
        flex: 1;

        .filter-select {
            max-width: fit-content;
        }
    }
}